@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

body {
    background-color: #dedede;
    font-family:"Dosis", Arial, sans-serif;
    margin:0;
}

.content {
    display:grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    height:90vh;
}

.board {
    /* border: 1px solid black; */
    display:grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    font-size:20px;
    font-family: "Dosis", Arial, sans-serif;
    font-weight: bold;
    position: relative;
    pointer-events: none;
}

.file {
    text-align: right;
    font-size: 1.2em;
    align-self: flex-end;
}

nav {
    text-align:left;
    font-family: "Dosis", Arial, sans-serif;
    font-size: 2em;
    background-color: #eeeeee;
    font-weight: 900;
}

h2 {
    text-align:center;
    font-family: "Dosis", Arial, sans-serif;
    font-size: 2.3em;
    font-weight: bolder;
}

img {
    height:300px;
}

img:hover {
    cursor: pointer;
}

.lightSquare {
    width:80px;
    height:80px;
    background-color: #f3f3f3;
    display: grid;
    color:#440000;
}

.darkSquare {
    width:80px;
    height:80px;
    background-color: #440000;
    display: grid;
    color:#f3f3f3;
}

.square:hover {
    opacity: 0.8;
}

p {
    font-size: 1.5em;
    text-align: center;
}

#countdown {
    text-align: center;
    display:block;
    font-size: 3em;
    visibility: hidden;
}

div input {
    font-family: "Dosis";
    font-weight: bold;
    font-size:1.5em;
    height:40px;
    width:150px;
}

#start {
    /* border: 1px solid black; */
    justify-self: center;
    align-self: center;
}

#settings {
    font-size: 1.5em;
}

form {
    text-align: center;
}

#difficulty {
    text-align: center;
    font-size: 1.5em;
}

#score-display {
    /* border: 1px solid black; */
    font-size:5em;
    text-align:center;
    position: absolute;
    width:24%;
    top:50%;
    left:85%;
    transform: translate(-50%, -50%);
}

#score-output {
    font-size:5em;
    width:100px;
    position:absolute;
    border-radius: 50%;
    text-align: center;
    align-items:center;
    left:85%;
    top:50%;
    transform: translate(-50%, -50%);
}

#stats {
    /* border: 1px solid black; */
    position:relative;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    align-self: center;
}

#target {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: 900;
    color:#e0ac1c;
    pointer-events: none;
}

.correct {
    border:6px solid green;
    border-radius: 50%;
}

.incorrect {
    border:6px solid red;
    border-radius: 50%;
}


/* on screens that are 1000px or less, do this... */
@media screen and (max-width:1000px) {
    .content {
        display:inline-block;
    }
    #stats {
        width:100%;
        line-height: 1.6;
    }
    #score-display {
        display: block;
        position: static;
        margin:auto;
    }

    #score-output {
        display:block;
        position:static;
        margin:auto;
    }
    #start {
        padding-bottom:20px;
        margin:auto;
    }
}